h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 2em;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 12pt;
}

h6 {
  font-size: 10pt;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

ul, ol {
  padding-left: 1em;
}

ul:not(:first-child),
ol:not(:first-child) {
  margin-top: 1em;
}

li:not(:first-child) {
  margin-top: .5em;
}

p:not(:first-child) {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  user-select: text;
}

a {
  text-decoration: none;
  color: var(--cui-accent-color-900);
}

@media(prefers-color-scheme: dark) {
  a {
    text-decoration: none;
    color: var(--cui-accent-color-700);
  }
}

a:hover {
  text-decoration: underline;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}
